<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="tpl-login.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank">
            <p:spacer />
            <h:form id="frmLogin">
                <p:panel id="pnlLogin" header="Inicio de Sesion">
                    <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" style="text-align: center">
                        <p:outputLabel id="lblUsuario" value="Usuario:" />
                        <p:inputText id="txtUsuario" value="#{loginControler.usuario}" />
                        <p:outputLabel id="lblPasswd" value="Contraseña:" />
                        <p:password id="txtPasswd" value="#{loginControler.password}" />
                        <f:facet name="footer">
                            <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" style="text-align: center">
                                <p:commandButton value="Ingresar" action="#{loginControler.validaLogin()}" />
                                <p:commandButton value="Limpiar" />
                            </p:panelGrid>
                        </f:facet>
                    </p:panelGrid>
                </p:panel>
            </h:form>
            <p:spacer />
        </p:panelGrid>
    </ui:define>

</ui:composition>
