<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./tpl-main.xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">
        <p:panel header="Muestra pagina principal.">
            <p:clock mode="server" pattern="dd/MM/yyyy hh:mm:ss a" />
        </p:panel>
    </ui:define>

</ui:composition>
